<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{if ne (len .title) 0 }} {{ .title }} {{else}} Presentation powered by godazo.{{end}}
    </title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,700,700i%7CMaitree:200,300,400,600,700&amp;subset=latin-ext"
          rel="stylesheet">

    <!-- CSS Base -->
    <link rel="stylesheet" type='text/css' media='all' href="/public/stylesheets/webslides.css">

    <!-- Optional - CSS SVG Icons (Font Awesome) -->
    <link rel="stylesheet" type="text/css" media="all" href="/public/stylesheets/svg-icons.css">
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
</head>
<body>

<main role="main">
    <article id="webslides">
        {{/* Iterating over slides */}}
        {{ if ne (len .slides) 0 }}
            {{ range $slide := .slides }}
                {{/* Heading */}}
                {{ if ne $slide.Heading "" }}
                    <section class="bg-black-blue">
                        <div class="wrap aligncenter">
                            <h1>{{ $slide.Heading }}</h1>
                        </div>
                    </section>
                {{ end }}
                {{/* Subheading */}}
                {{ if ne $slide.Subheading "" }}
                    <section data-background-color="#ffffcc">
                        <div class="wrap aligncenter">
                            <p>{{ $slide.Heading }}</p>
                            <h2>{{ $slide.Subheading }}</h2>
                        </div>
                    </section>
                {{ end }}
                {{/* Keywords*/}}
                {{ if ne (len $slide.Keywords) 0 }}
                    {{ range $keyword := $slide.Keywords }}
                        <section class="aligncenter">
                            <h3>{{$keyword}}</h3>
                        </section>
                    {{ end }}
                {{end}}
                {{/* Images */}}
                {{ if ne (len $slide.Images) 0 }}
                    {{ range $image := $slide.Images }}
                        <section class="bg-light">
                            <div class="wrap aligncenter">
                                <figure>
                                    <img src="/media/images/{{$image}}">
                                </figure>
                            </div>
                        </section>
                    {{end}}
                {{end}}
                {{/* Videos */}}
                {{ if ne (len $slide.Videos) 0 }}
                    {{ range $video := $slide.Videos }}
                        <section class="fullscreen fullscreen aligncenter bg-trans-dark">
                            <div class="embed">
                                <video autoplay loop>
                                    <source src="/media/videos/{{$video}}" type="video/mp4">
                                </video>
                            </div>
                        </section>
                    {{end}}
                {{end}}
                {{/* Points */}}
                {{ if ne (len $slide.Points) 0 }}
                    <section>
                        {{ range $point := $slide.Points }}
                            <p class="fragment highlight-current-red">{{$point}}</p>
                        {{end}}
                    </section>
                {{end}}

            {{end}}
        {{else}}
            <section>Just saying Hi</section>
        {{end}}
        </div>
    </article>
</main>
{{/* Js */}}
<!-- Required -->
<script src="/public/javascripts/webslides.min.js"></script>
<script>
    window.ws = new WebSlides();
</script>

<!-- OPTIONAL - svg-icons.js (fontastic.me - Font Awesome as svg icons) -->
<script defer src="/public/javascripts/svg-icons.js"></script>
</body>
</html>
